<tr>
  <td ><%= page.title %></td>
  <td>
    <div id="btn-new-page">
    <%= link_to t('.edit'), edit_page_path(page),
      class: "btn btn-default" %>
    <%= link_to t('.delete'), page, 
      class: "btn btn-danger",
      method: :delete, data: { confirm: t('.confirmation') } %>
    </div>
  </td>
</tr>
