<% provide(:title, @page.title) %>
<p>
  <strong>Título:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @page.body %>
</p>

<%= link_to 'Editar', edit_page_path(@page), class: "btn btn-default btn-lg" %> 
