<footer class="footer">
  <small>
    Apoio:
  </small>
  <br>
    <%= link_to image_tag("fapesb.png", size: "80x40"), "http://www.fapesb.ba.gov.br/"%>
    <%= link_to image_tag("cnpq.jpg", size: "80x40"), "http://www.cnpq.br"%>
    <%= link_to image_tag("ufba.png", size: "40x40"), "https://www.ufba.br/"%>
  <br>
  <br>
  <small>
    Developed by Nilton Vasques & Vinicius Lins
  </small>
  <nav>
    <ul>
      <li><%= link_to t('contact'), contact_path %></li>
    </ul>
  </nav>
</footer>
