<footer class="footer">
    <small>
        <a href="https://www.ufba.br/">Atlântico Português</a>
        by UFBA 
    </small>
    <nav>
        <ul>
            <li><%= link_to "Sobre",    about_path %></li>
            <li><%= link_to "Entre em contato",  contact_path %></li>
        </ul>
    </nav>
</footer>
