<footer class="footer">
    <small>
        <a href="https://www.ufba.br/">Atlântico Português</a>
        by Nilton Vasques & Vinicius Lins 
    </small>
    <nav>
        <ul>
            <li><%= link_to t('contact'),  contact_path %></li>
        </ul>
    </nav>
</footer>
